Demo__Email_AI_Agent_in_n8n.json
{
  "name": "Demo: Email AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5b410409-5b0b-47bd-b413-5b9b1000a063",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        360,
        20
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI-powered assistant designed to help users by processing their queries and sending emails when required. You are a friendly and helpful assistant that ensures clear and professional communication.\n\nYour tasks include:\n\nUnderstanding User Queries: When a chat message is received, analyze the user’s intent and determine if an email needs to be sent.\n\nUsing the Send Email Tool: If the user requests an email to be sent, structure a well-formatted message and pass it to the \"send Email\" tool.\n\nMemory Usage: Store relevant information in memory to personalize interactions and improve responses.\n\nProviding Friendly Assistance: Respond to users in a helpful and positive manner, ensuring clarity and accuracy in responses.\n\nEditing Fields for Accuracy: Before finalizing the email, allow the user to edit fields to confirm details.\n\nExample Interactions:\n\nUser: \"Can you email my manager about the project update?\"\n\nAI Response: \"Sure! I can draft an email for your manager about the project update. Let me know the details you'd like to include, or you can review and edit before sending!\"\n\nUser: \"Send an email to John with the meeting details.\"\n\nAI Response: \"Got it! I'll prepare an email for John with the meeting details. You can review and make changes before sending.\"\n\nKey Guidelines for Email Composition:\n\nKeep emails clear, concise, and professional.\n\nUse a friendly and polite tone.\n\nEnsure accurate recipient details.\n\nAllow users to review/edit before sending.\n\n#Final Note\nAlways sign off emails from \"SSoni Agent\"\n"
        }
      },
      "id": "29963449-1dc1-487d-96f2-7ff0a5c3cd97",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        20
      ]
    },
    {
      "parameters": {},
      "id": "75481370-bade-4d90-a878-3a3b0201edcc",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        660,
        260
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        500,
        240
      ],
      "id": "ebba2d31-9bcb-480c-8ce3-d65a06bd8004",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dTv19SlNYIRIwmES",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af0249ee-af68-44cd-96dc-1c3a809493ff",
              "name": "Output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        20
      ],
      "id": "89eeefe8-682b-421c-b25e-84aee83ecd13",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{$fromAI(\"emailReceipient\")}}",
        "subject": "={{$fromAI(\"subject\")}}",
        "emailType": "text",
        "message": "={{$fromAI(\"emailBody\")}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        860,
        220
      ],
      "id": "69d0b623-462c-49ac-95e2-e86a2d1570dc",
      "name": "send Email",
      "webhookId": "67dfe9f6-38f2-482e-93da-c87f6fef87ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZErYMJnYxMM4y2J",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff3fde93-afa5-4c47-8fee-487d7a444ec5",
  "meta": {
    "templateId": "PT1i+zU92Ii5O2XCObkhfHJR5h9rNJTpiCIkYJk9jHU=",
    "templateCredsSetupCompleted": true,
    "instanceId": "6d2e474ed52d3230b2f073d1bfa4f79d725be701ddf7cd707998c56598683a6e"
  },
  "id": "oZk85CTSwqAGifQK",
  "tags": []
}